.border-primary {
  border: 1px solid $primary;
}

.border-secondary {
  border: 1px solid $secondary;
}

.border-accent {
  border: 1px solid $accent;
}

.border-positive {
  border: 1px solid $positive;
}

.border-negative {
  border: 1px solid $negative;
}

.border-info {
  border: 1px solid $info;
}

.border-warning {
  border: 1px solid $warning;
}

.border-black {
  border: 1px solid $black;
}

.border-white {
  border: 1px solid $white;
}

.border-dark {
  border: 1px solid $dark;
}