@import "~@/appProfile/theme";

@import "./bg";
@import "./text";
@import "./border";
@import "./padding";
@import "./margin";
@import "./flex";

.max-height {
  height: 100% !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.align-justify {
  text-align: justify !important;
}

.full {
  width: 100% !important;
}

.el-button,
.el-tag {

  &.uppercase {
    text-transform: uppercase !important;
  }

  svg {
    margin-right: .5rem;
  }
}

.pointer {
  cursor: pointer;
}

.not-text-decoration {
  text-decoration: none;
}