@for $i from 1 through 100 {
  .margin-#{$i} {
    margin: $i + px;
  }

  .margin-top-bottom-#{$i} {
    margin-top: $i + px;
    margin-bottom: $i + px;
  }

  .margin-left-right-#{$i} {
    margin-left: $i + px;
    margin-right: $i + px;
  }

  .margin-top-#{$i} {
    margin-top: $i + px;
  }

  .margin-bottom-#{$i} {
    margin-bottom: $i + px;
  }

  .margin-left-#{$i} {
    margin-left: $i + px;
  }

  .margin-right-#{$i} {
    margin-right: $i + px;
  }
}

.no-margin,
.not-margin {
  margin: 0 !important;
}

.no-margin-left,
.not-margin-left {
  margin-left: 0 !important;
}

.no-margin-right,
.not-margin-right {
  margin-right: 0 !important;
}

.no-margin-top,
.not-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom,
.not-margin-bottom {
  margin-bottom: 0 !important;
}