@for $i from 1 through 100 {
  .margin-#{$i} {
    margin: $i + px;
  }

  .margin-top-bottom-#{$i} {
    margin-top: $i + px;
    margin-bottom: $i + px;
  }

  .margin-left-right-#{$i} {
    margin-left: $i + px;
    margin-right: $i + px;
  }

  .margin-top-#{$i} {
    margin-top: $i + px;
  }

  .margin-bottom-#{$i} {
    margin-bottom: $i + px;
  }

  .margin-left-#{$i} {
    margin-left: $i + px;
  }

  .margin-right-#{$i} {
    margin-right: $i + px;
  }
}