@for $i from 1 through 100 {
  .padding-#{$i} {
    padding: $i + px;
  }

  .padding-top-bottom-#{$i} {
    padding-top: $i + px;
    padding-bottom: $i + px;
  }

  .padding-left-right-#{$i} {
    padding-left: $i + px;
    padding-right: $i + px;
  }

  .padding-top-#{$i} {
    padding-top: $i + px;
  }

  .padding-bottom-#{$i} {
    padding-bottom: $i + px;
  }

  .padding-left-#{$i} {
    padding-left: $i + px;
  }

  .padding-right-#{$i} {
    padding-right: $i + px;
  }
}

.no-padding,
.not-padding {
  padding: 0 !important;
}

.no-padding-left,
.not-padding-left {
  padding-left: 0 !important;
}

.no-padding-right,
.not-padding-right {
  padding-right: 0 !important;
}

.no-padding-top,
.not-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom,
.not-padding-bottom {
  padding-bottom: 0 !important;
}