.shadow-1 {
  box-shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
}

.shadow-2 {
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}

.shadow-3 {
  box-shadow: 0 1px 8px #0003, 0 3px 4px #00000024, 0 3px 3px -2px #0000001f;
}

.shadow-4 {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

.shadow-5 {
  box-shadow: 0 3px 5px -1px #0003, 0 5px 8px #00000024, 0 1px 14px #0000001f;
}

.shadow-6 {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.shadow-7 {
  box-shadow: 0 4px 5px -2px #0003, 0 7px 10px 1px #00000024, 0 2px 16px 1px #0000001f;
}

.shadow-8 {
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

.shadow-9 {
  box-shadow: 0 5px 6px -3px #0003, 0 9px 12px 1px #00000024, 0 3px 16px 2px #0000001f;
}

.shadow-10 {
  box-shadow: 0 6px 6px -3px #0003, 0 10px 14px 1px #00000024, 0 4px 18px 3px #0000001f;
}

.shadow-10 {
  box-shadow: 0 6px 6px -3px #0003, 0 10px 14px 1px #00000024, 0 4px 18px 3px #0000001f;
}

.shadow-11 {
  box-shadow: 0 6px 7px -4px #0003, 0 11px 15px 1px #00000024, 0 4px 20px 3px #0000001f;
}

.shadow-12 {
  box-shadow: 0 7px 8px -4px #0003, 0 12px 17px 2px #00000024, 0 5px 22px 4px #0000001f;
}

.shadow-13 {
  box-shadow: 0 7px 8px -4px #0003, 0 13px 19px 2px #00000024, 0 5px 24px 4px #0000001f;
}

.shadow-14 {
  box-shadow: 0 7px 9px -4px #0003, 0 14px 21px 2px #00000024, 0 5px 26px 4px #0000001f;
}

.shadow-15 {
  box-shadow: 0 8px 9px -5px #0003, 0 15px 22px 2px #00000024, 0 6px 28px 5px #0000001f;
}

.shadow-16 {
  box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024, 0 6px 30px 5px #0000001f;
}

.shadow-17 {
  box-shadow: 0 8px 11px -5px #0003, 0 17px 26px 2px #00000024, 0 6px 32px 5px #0000001f;
}

.shadow-18 {
  box-shadow: 0 9px 11px -5px #0003, 0 18px 28px 2px #00000024, 0 7px 34px 6px #0000001f;
}

.shadow-19 {
  box-shadow: 0 9px 12px -6px #0003, 0 19px 29px 2px #00000024, 0 7px 36px 6px #0000001f;
}

.shadow-20 {
  box-shadow: 0 10px 13px -6px #0003, 0 20px 31px 3px #00000024, 0 8px 38px 7px #0000001f;
}

.shadow-21 {
  box-shadow: 0 10px 13px -6px #0003, 0 21px 33px 3px #00000024, 0 8px 40px 7px #0000001f;
}

.shadow-22 {
  box-shadow: 0 10px 14px -6px #0003, 0 22px 35px 3px #00000024, 0 8px 42px 7px #0000001f;
}

.shadow-23 {
  box-shadow: 0 11px 14px -7px #0003, 0 23px 36px 3px #00000024, 0 9px 44px 8px #0000001f;
}

.shadow-24 {
  box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
}

.shadow-up-1 {
  box-shadow: 0 -1px 3px #0003, 0 -1px 1px #00000024, 0 -2px 1px -1px #0000001f;
}

.shadow-up-2 {
  box-shadow: 0 -1px 5px #0003, 0 -2px 2px #00000024, 0 -3px 1px -2px #0000001f;
}

.shadow-up-3 {
  box-shadow: 0 -1px 8px #0003, 0 -3px 4px #00000024, 0 -3px 3px -2px #0000001f;
}

.shadow-up-4 {
  box-shadow: 0 -2px 4px -1px #0003, 0 -4px 5px #00000024, 0 -1px 10px #0000001f;
}

.shadow-up-5 {
  box-shadow: 0 -3px 5px -1px #0003, 0 -5px 8px #00000024, 0 -1px 14px #0000001f;
}

.shadow-up-6 {
  box-shadow: 0 -3px 5px -1px #0003, 0 -6px 10px #00000024, 0 -1px 18px #0000001f;
}

.shadow-up-7 {
  box-shadow: 0 -4px 5px -2px #0003, 0 -7px 10px 1px #00000024, 0 -2px 16px 1px #0000001f;
}

.shadow-up-8 {
  box-shadow: 0 -5px 5px -3px #0003, 0 -8px 10px 1px #00000024, 0 -3px 14px 2px #0000001f;
}

.shadow-up-9 {
  box-shadow: 0 -5px 6px -3px #0003, 0 -9px 12px 1px #00000024, 0 -3px 16px 2px #0000001f;
}

.shadow-up-10 {
  box-shadow: 0 -6px 6px -3px #0003, 0 -10px 14px 1px #00000024, 0 -4px 18px 3px #0000001f;
}

.shadow-up-11 {
  box-shadow: 0 -6px 7px -4px #0003, 0 -11px 15px 1px #00000024, 0 -4px 20px 3px #0000001f;
}

.shadow-up-12 {
  box-shadow: 0 -7px 8px -4px #0003, 0 -12px 17px 2px #00000024, 0 -5px 22px 4px #0000001f;
}

.shadow-up-13 {
  box-shadow: 0 -7px 8px -4px #0003, 0 -13px 19px 2px #00000024, 0 -5px 24px 4px #0000001f;
}

.shadow-up-14 {
  box-shadow: 0 -7px 9px -4px #0003, 0 -14px 21px 2px #00000024, 0 -5px 26px 4px #0000001f;
}

.shadow-up-15 {
  box-shadow: 0 -8px 9px -5px #0003, 0 -15px 22px 2px #00000024, 0 -6px 28px 5px #0000001f;
}

.shadow-up-16 {
  box-shadow: 0 -8px 10px -5px #0003, 0 -16px 24px 2px #00000024, 0 -6px 30px 5px #0000001f;
}

.shadow-up-17 {
  box-shadow: 0 -8px 11px -5px #0003, 0 -17px 26px 2px #00000024, 0 -6px 32px 5px #0000001f;
}

.shadow-up-18 {
  box-shadow: 0 -9px 11px -5px #0003, 0 -18px 28px 2px #00000024, 0 -7px 34px 6px #0000001f;
}

.shadow-up-19 {
  box-shadow: 0 -9px 12px -6px #0003, 0 -19px 29px 2px #00000024, 0 -7px 36px 6px #0000001f;
}

.shadow-up-20 {
  box-shadow: 0 -10px 13px -6px #0003, 0 -20px 31px 3px #00000024, 0 -8px 38px 7px #0000001f;
}

.shadow-up-21 {
  box-shadow: 0 -10px 13px -6px #0003, 0 -21px 33px 3px #00000024, 0 -8px 40px 7px #0000001f;
}

.shadow-up-22 {
  box-shadow: 0 -10px 14px -6px #0003, 0 -22px 35px 3px #00000024, 0 -8px 42px 7px #0000001f;
}

.shadow-up-23 {
  box-shadow: 0 -11px 14px -7px #0003, 0 -23px 36px 3px #00000024, 0 -9px 44px 8px #0000001f;
}

.shadow-up-24 {
  box-shadow: 0 -11px 15px -7px #0003, 0 -24px 38px 3px #00000024, 0 -9px 46px 8px #0000001f;
}

.inset-shadow {
  box-shadow: inset 0 7px 9px -7px #000000b3!important;
}

.inset-shadow-down {
  box-shadow: inset 0 -7px 9px -7px #000000b3!important;
}