.text-primary {
  color: $primary;
  color: $white;
}

.text-secondary {
  color: $secondary;
}

.text-accent {
  color: $accent;
}

.text-positive {
  color: $positive;
}

.text-negative {
  color: $negative;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-dark {
  color: $dark;
}