$primaryLighten: (
    5: lighten($primary, 5%),
    10: lighten($primary, 10%),
    15: lighten($primary, 15%),
    20: lighten($primary, 20%),
    25: lighten($primary, 25%),
    30: lighten($primary, 30%),
    35: lighten($primary, 35%),
    40: lighten($primary, 40%),
    45: lighten($primary, 45%),
    50: lighten($primary, 50%),
    55: lighten($primary, 55%),
    60: lighten($primary, 60%),
    65: lighten($primary, 65%),
    70: lighten($primary, 70%),
    75: lighten($primary, 75%),
    80: lighten($primary, 80%),
    85: lighten($primary, 85%),
    90: lighten($primary, 90%),
    95: lighten($primary, 95%)
);

$primaryDarken: (
    5: darken($primary, 5%),
    10: darken($primary, 10%),
    15: darken($primary, 15%),
    20: darken($primary, 20%),
    25: darken($primary, 25%),
    30: darken($primary, 30%),
    35: darken($primary, 35%),
    40: darken($primary, 40%),
    45: darken($primary, 45%),
    50: darken($primary, 50%),
    55: darken($primary, 55%),
    60: darken($primary, 60%),
    65: darken($primary, 65%),
    70: darken($primary, 70%),
    75: darken($primary, 75%),
    80: darken($primary, 80%),
    85: darken($primary, 85%),
    90: darken($primary, 90%),
    95: darken($primary, 95%)
);

$secondaryLighten: (
    5: lighten($secondary, 5%),
    10: lighten($secondary, 10%),
    15: lighten($secondary, 15%),
    20: lighten($secondary, 20%),
    25: lighten($secondary, 25%),
    30: lighten($secondary, 30%),
    35: lighten($secondary, 35%),
    40: lighten($secondary, 40%),
    45: lighten($secondary, 45%),
    50: lighten($secondary, 50%),
    55: lighten($secondary, 55%),
    60: lighten($secondary, 60%),
    65: lighten($secondary, 65%),
    70: lighten($secondary, 70%),
    75: lighten($secondary, 75%),
    80: lighten($secondary, 80%),
    85: lighten($secondary, 85%),
    90: lighten($secondary, 90%),
    95: lighten($secondary, 95%)
);

$secondaryDarken: (
    5: darken($secondary, 5%),
    10: darken($secondary, 10%),
    15: darken($secondary, 15%),
    20: darken($secondary, 20%),
    25: darken($secondary, 25%),
    30: darken($secondary, 30%),
    35: darken($secondary, 35%),
    40: darken($secondary, 40%),
    45: darken($secondary, 45%),
    50: darken($secondary, 50%),
    55: darken($secondary, 55%),
    60: darken($secondary, 60%),
    65: darken($secondary, 65%),
    70: darken($secondary, 70%),
    75: darken($secondary, 75%),
    80: darken($secondary, 80%),
    85: darken($secondary, 85%),
    90: darken($secondary, 90%),
    95: darken($secondary, 95%)
);

$accentLighten: (
    5: lighten($accent, 5%),
    10: lighten($accent, 10%),
    15: lighten($accent, 15%),
    20: lighten($accent, 20%),
    25: lighten($accent, 25%),
    30: lighten($accent, 30%),
    35: lighten($accent, 35%),
    40: lighten($accent, 40%),
    45: lighten($accent, 45%),
    50: lighten($accent, 50%),
    55: lighten($accent, 55%),
    60: lighten($accent, 60%),
    65: lighten($accent, 65%),
    70: lighten($accent, 70%),
    75: lighten($accent, 75%),
    80: lighten($accent, 80%),
    85: lighten($accent, 85%),
    90: lighten($accent, 90%),
    95: lighten($accent, 95%)
);

$accentDarken: (
    5: darken($accent, 5%),
    10: darken($accent, 10%),
    15: darken($accent, 15%),
    20: darken($accent, 20%),
    25: darken($accent, 25%),
    30: darken($accent, 30%),
    35: darken($accent, 35%),
    40: darken($accent, 40%),
    45: darken($accent, 45%),
    50: darken($accent, 50%),
    55: darken($accent, 55%),
    60: darken($accent, 60%),
    65: darken($accent, 65%),
    70: darken($accent, 70%),
    75: darken($accent, 75%),
    80: darken($accent, 80%),
    85: darken($accent, 85%),
    90: darken($accent, 90%),
    95: darken($accent, 95%)
);

$positiveLighten: (
    5: lighten($positive, 5%),
    10: lighten($positive, 10%),
    15: lighten($positive, 15%),
    20: lighten($positive, 20%),
    25: lighten($positive, 25%),
    30: lighten($positive, 30%),
    35: lighten($positive, 35%),
    40: lighten($positive, 40%),
    45: lighten($positive, 45%),
    50: lighten($positive, 50%),
    55: lighten($positive, 55%),
    60: lighten($positive, 60%),
    65: lighten($positive, 65%),
    70: lighten($positive, 70%),
    75: lighten($positive, 75%),
    80: lighten($positive, 80%),
    85: lighten($positive, 85%),
    90: lighten($positive, 90%),
    95: lighten($positive, 95%)
);

$positiveDarken: (
    5: darken($positive, 5%),
    10: darken($positive, 10%),
    15: darken($positive, 15%),
    20: darken($positive, 20%),
    25: darken($positive, 25%),
    30: darken($positive, 30%),
    35: darken($positive, 35%),
    40: darken($positive, 40%),
    45: darken($positive, 45%),
    50: darken($positive, 50%),
    55: darken($positive, 55%),
    60: darken($positive, 60%),
    65: darken($positive, 65%),
    70: darken($positive, 70%),
    75: darken($positive, 75%),
    80: darken($positive, 80%),
    85: darken($positive, 85%),
    90: darken($positive, 90%),
    95: darken($positive, 95%)
);

$negativeLighten: (
    5: lighten($negative, 5%),
    10: lighten($negative, 10%),
    15: lighten($negative, 15%),
    20: lighten($negative, 20%),
    25: lighten($negative, 25%),
    30: lighten($negative, 30%),
    35: lighten($negative, 35%),
    40: lighten($negative, 40%),
    45: lighten($negative, 45%),
    50: lighten($negative, 50%),
    55: lighten($negative, 55%),
    60: lighten($negative, 60%),
    65: lighten($negative, 65%),
    70: lighten($negative, 70%),
    75: lighten($negative, 75%),
    80: lighten($negative, 80%),
    85: lighten($negative, 85%),
    90: lighten($negative, 90%),
    95: lighten($negative, 95%)
);

$negativeDarken: (
    5: darken($negative, 5%),
    10: darken($negative, 10%),
    15: darken($negative, 15%),
    20: darken($negative, 20%),
    25: darken($negative, 25%),
    30: darken($negative, 30%),
    35: darken($negative, 35%),
    40: darken($negative, 40%),
    45: darken($negative, 45%),
    50: darken($negative, 50%),
    55: darken($negative, 55%),
    60: darken($negative, 60%),
    65: darken($negative, 65%),
    70: darken($negative, 70%),
    75: darken($negative, 75%),
    80: darken($negative, 80%),
    85: darken($negative, 85%),
    90: darken($negative, 90%),
    95: darken($negative, 95%)
);

$infoLighten: (
    5: lighten($info, 5%),
    10: lighten($info, 10%),
    15: lighten($info, 15%),
    20: lighten($info, 20%),
    25: lighten($info, 25%),
    30: lighten($info, 30%),
    35: lighten($info, 35%),
    40: lighten($info, 40%),
    45: lighten($info, 45%),
    50: lighten($info, 50%),
    55: lighten($info, 55%),
    60: lighten($info, 60%),
    65: lighten($info, 65%),
    70: lighten($info, 70%),
    75: lighten($info, 75%),
    80: lighten($info, 80%),
    85: lighten($info, 85%),
    90: lighten($info, 90%),
    95: lighten($info, 95%)
);

$infoDarken: (
    5: darken($info, 5%),
    10: darken($info, 10%),
    15: darken($info, 15%),
    20: darken($info, 20%),
    25: darken($info, 25%),
    30: darken($info, 30%),
    35: darken($info, 35%),
    40: darken($info, 40%),
    45: darken($info, 45%),
    50: darken($info, 50%),
    55: darken($info, 55%),
    60: darken($info, 60%),
    65: darken($info, 65%),
    70: darken($info, 70%),
    75: darken($info, 75%),
    80: darken($info, 80%),
    85: darken($info, 85%),
    90: darken($info, 90%),
    95: darken($info, 95%)
);

$warningLighten: (
    5: lighten($warning, 5%),
    10: lighten($warning, 10%),
    15: lighten($warning, 15%),
    20: lighten($warning, 20%),
    25: lighten($warning, 25%),
    30: lighten($warning, 30%),
    35: lighten($warning, 35%),
    40: lighten($warning, 40%),
    45: lighten($warning, 45%),
    50: lighten($warning, 50%),
    55: lighten($warning, 55%),
    60: lighten($warning, 60%),
    65: lighten($warning, 65%),
    70: lighten($warning, 70%),
    75: lighten($warning, 75%),
    80: lighten($warning, 80%),
    85: lighten($warning, 85%),
    90: lighten($warning, 90%),
    95: lighten($warning, 95%)
);

$warningDarken: (
    5: darken($warning, 5%),
    10: darken($warning, 10%),
    15: darken($warning, 15%),
    20: darken($warning, 20%),
    25: darken($warning, 25%),
    30: darken($warning, 30%),
    35: darken($warning, 35%),
    40: darken($warning, 40%),
    45: darken($warning, 45%),
    50: darken($warning, 50%),
    55: darken($warning, 55%),
    60: darken($warning, 60%),
    65: darken($warning, 65%),
    70: darken($warning, 70%),
    75: darken($warning, 75%),
    80: darken($warning, 80%),
    85: darken($warning, 85%),
    90: darken($warning, 90%),
    95: darken($warning, 95%)
);

$darkLighten: (
    5: lighten($dark, 5%),
    10: lighten($dark, 10%),
    15: lighten($dark, 15%),
    20: lighten($dark, 20%),
    25: lighten($dark, 25%),
    30: lighten($dark, 30%),
    35: lighten($dark, 35%),
    40: lighten($dark, 40%),
    45: lighten($dark, 45%),
    50: lighten($dark, 50%),
    55: lighten($dark, 55%),
    60: lighten($dark, 60%),
    65: lighten($dark, 65%),
    70: lighten($dark, 70%),
    75: lighten($dark, 75%),
    80: lighten($dark, 80%),
    85: lighten($dark, 85%),
    90: lighten($dark, 90%),
    95: lighten($dark, 95%)
);

$darkDarken: (
    5: darken($dark, 5%),
    10: darken($dark, 10%),
    15: darken($dark, 15%),
    20: darken($dark, 20%),
    25: darken($dark, 25%),
    30: darken($dark, 30%),
    35: darken($dark, 35%),
    40: darken($dark, 40%),
    45: darken($dark, 45%),
    50: darken($dark, 50%),
    55: darken($dark, 55%),
    60: darken($dark, 60%),
    65: darken($dark, 65%),
    70: darken($dark, 70%),
    75: darken($dark, 75%),
    80: darken($dark, 80%),
    85: darken($dark, 85%),
    90: darken($dark, 90%),
    95: darken($dark, 95%)
);

$whiteLighten: (
    5: lighten($white, 5%),
    10: lighten($white, 10%),
    15: lighten($white, 15%),
    20: lighten($white, 20%),
    25: lighten($white, 25%),
    30: lighten($white, 30%),
    35: lighten($white, 35%),
    40: lighten($white, 40%),
    45: lighten($white, 45%),
    50: lighten($white, 50%),
    55: lighten($white, 55%),
    60: lighten($white, 60%),
    65: lighten($white, 65%),
    70: lighten($white, 70%),
    75: lighten($white, 75%),
    80: lighten($white, 80%),
    85: lighten($white, 85%),
    90: lighten($white, 90%),
    95: lighten($white, 95%)
);

$whiteDarken: (
    5: darken($white, 5%),
    10: darken($white, 10%),
    15: darken($white, 15%),
    20: darken($white, 20%),
    25: darken($white, 25%),
    30: darken($white, 30%),
    35: darken($white, 35%),
    40: darken($white, 40%),
    45: darken($white, 45%),
    50: darken($white, 50%),
    55: darken($white, 55%),
    60: darken($white, 60%),
    65: darken($white, 65%),
    70: darken($white, 70%),
    75: darken($white, 75%),
    80: darken($white, 80%),
    85: darken($white, 85%),
    90: darken($white, 90%),
    95: darken($white, 95%)
);

$blackLighten: (
    5: lighten($black, 5%),
    10: lighten($black, 10%),
    15: lighten($black, 15%),
    20: lighten($black, 20%),
    25: lighten($black, 25%),
    30: lighten($black, 30%),
    35: lighten($black, 35%),
    40: lighten($black, 40%),
    45: lighten($black, 45%),
    50: lighten($black, 50%),
    55: lighten($black, 55%),
    60: lighten($black, 60%),
    65: lighten($black, 65%),
    70: lighten($black, 70%),
    75: lighten($black, 75%),
    80: lighten($black, 80%),
    85: lighten($black, 85%),
    90: lighten($black, 90%),
    95: lighten($black, 95%)
);

$blackDarken: (
    5: darken($black, 5%),
    10: darken($black, 10%),
    15: darken($black, 15%),
    20: darken($black, 20%),
    25: darken($black, 25%),
    30: darken($black, 30%),
    35: darken($black, 35%),
    40: darken($black, 40%),
    45: darken($black, 45%),
    50: darken($black, 50%),
    55: darken($black, 55%),
    60: darken($black, 60%),
    65: darken($black, 65%),
    70: darken($black, 70%),
    75: darken($black, 75%),
    80: darken($black, 80%),
    85: darken($black, 85%),
    90: darken($black, 90%),
    95: darken($black, 95%)
);